<a title="Marlin Binary File Transfer" 
   class="pull-right" 
   href="#marlinbft-dialog" 
   data-bind="click: show, visible: loginState.hasPermissionKo(access.permissions.CONNECTION)">
    <i class="fa fa-upload"></i>
</a>